<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>FLOKSE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link font-family: "Montserrat", sans-serif;
    href="https://fonts.googleapis.com/css?family=McLaren|Montserrat&display=swap"
    rel="stylesheet" />
  
  <link rel="stylesheet" href="/css/styles.css">
  <div class="navbr">
  <nav class="navbar navbar-default navbar-expand-lg ">
    <div class="container">
      <div class="navbar-header">
        <h4 class="navbar-brand">FLOKSE</h4>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/"><i class="fa-solid fa-house"></i></a></li>
          <li id="about"><a href="/about"><i class="fa-solid fa-address-card"></i></a></li>
          <li id="contact"><a href="/contact"><i class="fa-solid fa-address-book"></i></a></li>
          <li id="compose"><a href="/compose"><i class="fa-solid fa-pen-to-square"></i></a></li>
         
        </ul>
    </div>
  </nav>
</div>

  <body>
    <div class="container1">
